.bars-status-bars {
  background-color: #ffffff;
  height: 21px;
  position: relative;
  width: 54px;
}

.bars-status-bars .time {
  color: #000000;
  font-family: "SF Pro-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 54px;
}
